* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #3ca6a6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #026773;
  color: #f4f4f4;
  padding: 20px;
}

.header .title {
  margin-left: 1em;
}

.header img {
  height: 80px;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-wrapper i {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.user-info span {
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.dashboard {
  padding: 50px 100px;
  background-color: #3ca6a6;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.carousel-content {
  display: flex;
  gap: 15px;
}

.vendedor-icone {
  width: 150px;
  height: 150px;

  /*
    background-color: #024959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    */
}

.vendedor-icone img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #faf4ee;
  object-fit: cover;
}

.produtos {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.produto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #026773;
  color: white;
  text-align: center;
  border-radius: 8px;
  border-top: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  padding: 0px;
  text-align: left;
  width: calc(25% - 20px);
}

.info-produto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.info-produto .nome-produto {
  font-weight: 500;
  font-size: 18px;
}

.info-produto .descricao-produto {
  font-weight: 400;
  font-size: 14px;
}

.info-produto .preco-produto {
  font-weight: 600;
  color: #0affba;
  font-size: 18px;
}

.info-produto span {
  margin-bottom: 5px;
}

.produto img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.produto a {
  all: unset;
  display: block;
  width: 100%;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #024959;
  color: white;
  padding-top: 60px;
  transition: left 0.4s ease-in-out;
  z-index: 10;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #012e40;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.content {
  padding: 50px;
}

.sidebar.active {
  left: 0;
}

.botao-vendedores {
  height: 70px;
  background-color: #3ca6a6;
  color: white;
  border: none;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.user-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 50px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
}

.user-menu {
  background-color: rgb(215, 215, 215);
}

.user-menu li {
  color: black;
  list-style-type: none;
  padding: 10px;
}

/* pagina do produto */

.produto-container {
  height: 80vh;
  width: 56vw;
  background-color: #026773;
  margin: 50px auto 0px auto;
  border-radius: 15px;
}

.produto-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.preco-produto-tela-produto {
  font-weight: 600;
  color: #0affba;
  font-size: 28px;
}

.nome-produto-tela-produto {
  font-weight: 700;
  color: white;
  font-size: 28px;
}

.marca-produto-tela-produto {
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-size: 16px;
}

.produto-imagem {
  border: 1.8vw solid #026773;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.produto-imagem img {
  max-width: 25vw;
  height: auto;
  border-radius: 10px;
}

.custom-icon {
  width: 40px;
  height: 40px;
}

.acoes-produto {
  font-weight: 800;
  flex-direction: column;
  align-items: center;
}

.acoes-produto button {
  background-color: #024959;
  color: white;
  outline: none;
  border: 10px solid #024959;
  margin: 5px;
  width: 75%;
  font-size: 20px;
  border-radius: 4px;
}

.acoes-produto button:hover {
  background-color: #012e40;
  border: 10px solid #012e40;
}

.info-produto-tela-produto {
  display: flex;
  flex: 1;
  padding: 0px 20px 0px 20px;
  flex-direction: column;
  margin-left: 1vw;
}

.preco-reais-pontos {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.preco-reais-pontos img {
  width: 25px;  
  height: 25px;
  margin-right: 8px; 
  vertical-align: middle;
}

.preco-produto-tela-produto-container{
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  margin-bottom: 40px;
}

.quantidade-text {
  margin-bottom: 8px;
  font-weight: 600;
  color: white;
}

.quantidade-select {
  width: 120px;
  height: 30px;
  color: rgb(92, 92, 92);
  border-radius: 4px;
}

.descricao-completa {
  color: white;
  border: 10px solid #026773;
  background-color: #026773;
}


.header-menu{
  display: flex;
  justify-content: center;
  background-color: #026773;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: white;
}

.icon-sidebar {
  visibility: hidden;
}

.header-menu-list li{
  border: 10px solid #026773;
  padding: 0 20px;
  transition: color 0.2s;
}

.header-menu-list li:hover{
  color: rgb(255, 0, 0);
}

.footer {
  background-color: #026773;
  color: white;
  padding: 40px 20px 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}


@media (max-width: 1150px) {
  .header-menu{
    display: none;
  }
  .icon-sidebar {
    visibility: visible;
  }
}

@media (max-width: 500px) {
  .produto {
    width: 100%;
  }
  .carousel-content {
    display: flex;
    gap: 0;
    width: 100%;
  }

  .vendedor-icone {
    width: 80px;
    height: 80px;
    max-width: 100%;
    flex: none;
  }

  .vendedor-icone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-container {
    overflow: hidden;
  }

  .botao-vendedores {
    display: block;
  }

  /* pagina do produto */

  .produto-info {
    flex-direction: column;
  }

  .acoes-produto button {
    width: 66%;
  }

  .preco-produto-tela-produto-container {
    margin-bottom: 0px;
  }

  .acoes-produto {
    display: flex;
  }

  .produto-imagem {
    align-items: center;
  }

  .preco-produto-tela-produto{
    font-size: 25px;
  }
}

.divider {
  width: 12px;
}
