<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atendimento - PointBack</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="shortcut icon"
      href="../static/imagens/pb icon.png"
      type="image/x-icon"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <nav class="sidebar" id="sidebar">
        <button class="close-btn" id="close-btn">&times;</button>
        <ul>
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </nav>

      <header class="header">
        <div class="icon-wrapper icon-sidebar">
          <i data-lucide="menu" id="menu-btn" class="custom-icon"></i>
        </div>
        <a href="/"><img src="../static/imagens/Point_Back_LogoAzul.png" alt="" /></a>
        <div class="icon-wrapper user-icon">
          {% if user %}
          <div class="user-info">
            <span class="user-name">{{user.nome}}</span>
            <span class="user-name">{{user.pontos}} Pontos</span>
          </div>
          {% endif %}
          <i data-lucide="user-circle" class="custom-icon"></i>
        </div>
        <div class="user-menu" id="user-menu">
          <ul>
            {% if user %}
            <li><p>Seus pontos: {{ user.pontos }}</p></li>
            <li><a href="/perfil">Meu perfil</a></li>
            <li><a href="/meus-pedidos">Meus pedidos</a></li>
            <li><a href="/favoritos">Lista de desejos</a></li>
            <li><a href="/inventario">Perfil vendedor</a></li>
            {% if user.admin %}
            <li><a href="/adm/usuarios">Gerenciar usuários</a></li>
            {% endif %}
            <li><a href="/logout" id="logout">Sair</a></li>
            {% else %}
            <li><a href="/cadastro">Entrar</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            {% endif %}
          </ul>
        </div>
      </header>

      <div class="header-menu">
        <ul class="header-menu-list">
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </div>
    </div>

    <main class="dashboard">
      <section class="content">
        <h2 style="color: white;">Precisa de ajuda?</h2>
        <p style="color: white; font-size: 18px; max-width: 800px; margin-top: 10px;">
            Tire todas as suas dúvidas sobre o PointBack por aqui!
            Explore nossas perguntas frequentes sobre cadastro, resgate de pontos, entrega, trocas, garantia e muito mais.
            Se não encontrar o que procura, nosso atendimento esta pronto para te ajudar no chat ou pelo telefone. Conte com a gente! </p>

        <ul style="color: white; font-size: 16px; margin-top: 20px; max-width: 700px;">
          <li>- 💬 WhatsApp: <strong>(11) 99999-9999</strong></li>
          <li>- 📧 E-mail: <strong>suporte@pointback.com</strong></li>
          <li>- 📚 FAQ: Acesse nossa <strong>Central de Dúvidas</strong></li>
        </ul>

        <p style="color: white; margin-top: 30px; font-size: 18px;">Conte com a gente para uma experiência melhor 💙</p>
      </section>
    </main>

    <script>
      lucide.createIcons();
    </script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
