  <!DOCTYPE html>
  <html lang="pt">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>PointBack</title>
      <link rel="stylesheet" href="/static/styles.css" />
      <link
        rel="shortcut icon"
        href="../static/imagens/pb icon.png"
        type="image/x-icon"
      />
      <script src="https://unpkg.com/lucide@latest"></script>
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet"
      />
    </head>
    <body>
      <div>
      <nav class="sidebar" id="sidebar">
        <button class="close-btn" id="close-btn">&times;</button>
        <ul>
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </nav>

        <header class="header">
        <div class="icon-wrapper icon-sidebar">
          <i data-lucide="menu" id="menu-btn" class="custom-icon"></i>
        </div>
        <img src="../static/imagens/Point_Back_LogoAzul.png" alt="" />
        <div class="icon-wrapper user-icon">
          {% if user %}
          <div class="user-info">
            <span class="user-name">{{user.nome}}</span>
            <span class="user-name">{{user.pontos}} Pontos</span>
          </div>
          {% endif %}
          <i data-lucide="user-circle" class="custom-icon"></i>
        </div>
        <div class="user-menu" id="user-menu">
          <ul>
            {% if user %}
            <li><p>Seus pontos: {{ user.pontos }}</p></li>
            <li><a href="/perfil">Meu perfil</a></li>
            <li><a href="/meus-pedidos">Meus pedidos</a></li>
            <li><a href="/favoritos">Lista de desejos</a></li>
            <li><a href="/inventario">Perfil vendedor</a></li>

            {% if user.admin %}
            <li><a href="/adm/usuarios">Gerenciar usuários</a></li>
            {% endif %}

            <li><a href="/logout" id="logout">Sair</a></li>
            {% else %}
            <li><a href="/cadastro">Entrar</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            {% endif %}
          </ul>
        </div>
      </header>
      <div class="header-menu">
        <ul class="header-menu-list">
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </div>
      </div>
      <main class="dashboard">
        <section class="carousel">
          <h2>Conheça os vendedores</h2>
          <div class="carousel-container">
            <button class="botao-vendedores prev" id="prev-btn">&#8592;</button>
            <div class="carousel-content">
              <div class="vendedor-icone">
                <img src="../static/imagens/corsair-logo.jpg" alt="Vendedor 1" />
              </div>
              <div class="divider"></div>
              <div class="vendedor-icone">
                <img src="../static/imagens/razer-logo.png" alt="Vendedor 1" />
              </div>
              <div class="divider"></div>
              <div class="vendedor-icone">
                <img src="../static/imagens/sandisk-logo.png" alt="Vendedor 1" />
              </div>
              <div class="divider"></div>
              <div class="vendedor-icone">
                <img src="../static/imagens/hyperx-logo.png" alt="Vendedor 1" />
              </div>
              <div class="divider"></div>
              <div class="vendedor-icone">
                <img src="../static/imagens/redragon-logo.png" alt="Vendedor 1" />
              </div>
            </div>
            <button class="botao-vendedores next" id="next-btn">&#8594;</button>
          </div>
        </section>

        <section class="produtos-lista">
          <h2>Produtos em destaque</h2>
          <div class="produtos">
            <div class="produto" onclick="redirectTo('/tela_produto')">
              <img src="../static/imagens/mouse-logitech.jpg" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Mouse</span>
                <span class="descricao-produto"
                  >Mouse mega bom e barato pra comprar</span
                >
                <span class="preco-produto">R$ 100,00</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/teclado.jpg" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Teclado</span>
                <span class="descricao-produto"
                  >Teclados 60% perfeito para quem busca mobilidade</span
                >
                <span class="preco-produto">R$ 200,00</span>
                <span class="preco-produto">2000 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
            <div class="produto">
              <img src="../static/imagens/monitor.png" alt="" />
              <div class="info-produto">
                <span class="nome-produto">Monitor</span>
                <span class="descricao-produto">Monitor gamer 144hz</span>
                <span class="preco-produto">R$ 750,00</span>
                <span class="preco-produto">7500 pontos</span>
              </div>
            </div>
          </div>
        </section>
      </main>

      <script>
        lucide.createIcons();
      </script>
      <script src="/static/js/script.js"></script>
    </body>
  </html>
