<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto - Mouse Logitech</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/imagens/pb icon.png" type="image/x-icon">
</head>
<body>
    <div>

      <nav class="sidebar" id="sidebar">
        <button class="close-btn" id="close-btn">&times;</button>
        <ul>
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </nav>

        <header class="header">
        <div class="icon-wrapper icon-sidebar">
          <i data-lucide="menu" id="menu-btn" class="custom-icon"></i>
        </div>
         <a href="/"><img src="../static/imagens/Point_Back_LogoAzul.png" alt="" /></a>
        <div class="icon-wrapper user-icon">
          {% if user %}
          <div class="user-info">
            <span class="user-name">{{user.nome}}</span>
            <span class="user-name">{{user.pontos}} Pontos</span>
          </div>
          {% endif %}
          <i data-lucide="user-circle" class="custom-icon"></i>
        </div>
        <div class="user-menu" id="user-menu">
          <ul>
            {% if user %}
            <li><p>Seus pontos: {{ user.pontos }}</p></li>
            <li><a href="/perfil">Meu perfil</a></li>
            <li><a href="/meus-pedidos">Meus pedidos</a></li>
            <li><a href="/favoritos">Lista de desejos</a></li>
            <li><a href="/carrinho">Carrinho</a></li>
            <li><a href="/inventario">Perfil vendedor</a></li>

            {% if user.admin %}
            <li><a href="/adm/usuarios">Gerenciar usuários</a></li>
            {% endif %}

            <li><a href="/logout" id="logout">Sair</a></li>
            {% else %}
            <li><a href="/cadastro">Entrar</a></li>
            <li><a href="/cadastro">Cadastrar</a></li>
            {% endif %}
          </ul>
        </div>
      </header>
      <div class="header-menu">
        <ul class="header-menu-list">
          <li><a href="/promocoes">PROMOÇÕES</a></li>
          <li><a href="/hardware">HARDWARE</a></li>
          <li><a href="/notebooks">NOTEBOOKS</a></li>
          <li><a href="/monitores">MONITORES</a></li>
          <li><a href="/monteseupc">MONTE SEU PC</a></li>
          <li><a href="/atendimento">ATENDIMENTO</a></li>
        </ul>
      </div>
      </div>

        <div class="produto-container">
        <div class="produto-info">
            <div class="produto-imagem">
                <img src="{{ produto.imagem_url }}" alt="{{ produto.nome }}">
            </div>
            <div class="info-produto-tela-produto">
                <div class="preco-produto-tela-produto-container">
                    <h1 class="nome-produto-tela-produto" style="word-wrap: break-word;">{{ produto.nome }}</h1>
                    <h1 class="marca-produto-tela-produto">Marca: {{ produto.marca if produto.marca else 'Desconhecida' }}</h1>
                    <div class="preco-reais-pontos">
                        <div>
                            <img src="../static/imagens/cash_icon.png" alt="">
                            <span class="preco-produto-tela-produto">R$ {{ "%.2f"|format(produto.preco) }}</span>
                        </div>

                        <span style="color: white;">ou</span>
                        <div>
                            <img src="../static/imagens/p-red-icon.png" alt="">
                            <span class="preco-produto-tela-produto">{{ produto.pontos }} pontos</span>
                        </div>
                    </div>
                </div>
                <div class="acoes-produto">


                    <form action="/carrinho/adicionar" method="post" class="form-adicionar-carrinho">
                        <input type="hidden" name="id_produto" value="{{ produto.id }}">

                        <label for="quantidade" class="quantidade-text">Quantidade:</label>
                        <select id="quantidade" name="quantidade" class="quantidade-select">
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <button type="submit">Adicionar ao Carrinho</button>
                    </form>

                </div>
            </div>

        </div>
        <div class="descricao-completa">
            <p style="font-weight: 900;">Descrição:</p>
            <p style="word-wrap: break-word;">{{ produto.descricao }}</p>
        </div>
    </div>


    <script>
        lucide.createIcons();
    </script>
    <script src="/static/js/script.js"></script>
</body>
</html>
